@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100; 200; 300; 400; 500;600; 700; 800; 900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}
h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

P {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #ffc7c7;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #ffffff;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #ffffff;
    outline: none;
    transition: 0.2s;
}

button.green {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #ffffff;
    background-color: #0dbaae;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

body {
    width: 100%;
}

/* Header */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow:0 5px 15px #c5c7d3;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover, #navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* HOME PAGE */
#hero {
    background-image: url("images/banner.jpg");
    background-color: #E3E6F3;
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 080px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 15px;
}

#hero h1 {
    color: #088178;
}

#hero button {
    background-image: url("images/button1.png");
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

#feature .fe-box { 
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}
#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.3);
}

#feature .fe-box img {
    width:100%;
    margin-bottom: 10px;
}

#feature .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
    }

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#product1 {
    text-align: center;
    background-color: #edeef4;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #b9d2bc;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
}

#product1 .pro img {
    width: 80%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}
    
#product1 .pro .des span {
    color: #606063;
    font-size: 12px;
}
    
#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color:#088178;
}

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color:#d6e4d8;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    padding-left: 150px;
    background-image: url("images/banner/b1.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}    

#banner h4 {
    color: #ffa3a3;
    font-size: 16px;
}
    
#banner h2 {
    color: crimson;
    font-size: 50px;
    padding: 18px 0;
}

#banner button:hover{
    background:#ff7474;
    color: #ffffff;
}

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("images/banner/b2.jpg");
    min-width: 580px;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#sm-banner .banner-box2{
    background-image: url("images/banner/b3.jpg");
}

#sm-banner h4 {
    color: #d6e4d8;
    font-size: 16px;
}
    
#sm-banner h2 {
    color: #0dbaae;
    font-size: 40px;
    padding: 18px 0;
}

#sm-banner .banner-box:hover button{
    background:#d6e4d8;
    color: #088178;  
}

#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("images/banner/b4.jpg");
    min-width: 380px;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 .banner-box2{
    background-image: url("images/banner/b5.jpg");

}

#banner3 .banner-box3{
    background-image: url("images/banner/b6.jpg");

}

#banner3 h4 {
    color: crimson;
    background-color: rgb(255, 172, 188);
    opacity: 80%;
    border-radius: 4px;
    padding: 5px 3px;
    font-size: 16px;
}
    
#banner3 h2 {
    color: crimson;
    font-size: 30px;
    padding: 18px 0;
}

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}

#newsletter h4 {
    font-size: 30px;
    font-weight: 700;
    color:#fff;
}

#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

#newsletter p span {
    color: #d6e4d8;
}

#newsletter .form{
    display: flex;
    width: 40%;
}

#newsletter input {
    height: 3.125rem;
    padding:0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}
    
#newsletter button {
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
    
footer .logo{
    margin-bottom: 30px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin: 0 0 8px 0;
}

footer .follow{
    margin-top: 20px;
}

footer .follow i{
    color: #a061f9;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img{
    border: 1px solid #6a00ff;
    border-radius: 6px;
}

footer .install img{
    margin: 10px 0 15px 0;
}

footer .follow{
    margin-top: 20px;
}

footer .follow i:hover{
    color:#041e42;
}

footer a:hover{
    color: #a061f9;
}

footer .copyright{
    width: 100%;
    text-align: center;
}

/* SHOP PAGE */
#page-header{
    background-image: url("images/banner/b7.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
    margin-bottom: 20px;
}

#page-header h2{
    color:#ff7070;
}

#page-header p{
    color: #ffa3a3;
    font-size: 26px;
}

#banners3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banners3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("images/banner/b12.jpg");
    min-width: 380px;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
    cursor:pointer;
    border-radius: 14px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

#banners3 .banner-box2{
    background-image: url("images/banner/b13.jpg");

}

#banners3 .banner-box3{
    background-image: url("images/banner/b14.jpg");

}

#banners3 .banner-box:hover{
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

#banners3 a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 10px;
    color: #ffecf1;
    background-color: #ff6e6e;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

#pagination{
    text-align: center;
}

#pagination a{
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

#pagination a i{
    font-size: 16px;
    font-weight: 600;
}

/* Single Product */
#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
}

#MainImg{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.small-img-group{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails{
    display:flex;
    background-color: #ffffff;
}

#prodetails .single-pro-details{
    width: 40%;
    padding-top: 70px;
    margin-left: 30px;
}

#prodetails .single-pro-details h4{
    font-size: 30px;
}

#prodetails .single-pro-details h3{
    font-size: 40px;
    padding:10px 0 10px 0;
}

#prodetails .single-pro-details h5{
    font-size: 20px;
    color:#088178;
}

#prodetails .single-pro-details select{
    display: block;
    padding: 15px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails .single-pro-details input:focus{
    outline: none;
}

#prodetails .single-pro-details button:hover{
    background-color: #cce7d0;
    color: #088178;
}

#prodetails .single-pro-about{
    width: 50%;
    padding-top: 70px;
    margin-left: 40px;
    padding-left: 30px;
}

#prodetails .single-pro-about h6{
    font-size: 30px;
    color:#088178;
    margin-left: 5px;
}

#prodetails .single-pro-about table {
    margin-top: 15px;
    border-collapse: separate;
    border-spacing: 4px;
}
  
#prodetails .single-pro-about tr, td {
    padding: 10px;
    text-align: left;
}
  
#prodetails .single-pro-about tr {
    background-color: #a8dbd8;
}
  
#prodetails .single-pro-about td {
    border: 1px solid lightgray;
}

#prodetails .single-pro-about td span{
    color:#095d58;
}

/* Blog Page */
#blog-header{
    background-image: url("images/banner/b8.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#blog-header h2{
    color: #ffa3a3;
}

#blog-header p{
    color: #ffdbdb;
}

#blog{
    padding: 150px 150px 150px 150px; 
}

#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

#blog .blog-img{
    width: 50%;
    margin-right: 40px;
}

#blog img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#blog .blog-details{
    width: 50%;
}

#blog .blog-details a{
    text-decoration: none;
    font-size: 11px;
    color:#e16f6f;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}

#blog .blog-details a::after{
    content: "";
    width: 50px;
    height: 1px;
    background-color: #e16f6f;
    position: absolute;
    top: 4px;
    right: -60px;
}

#blog .blog-details a:hover{
    color: crimson;
}

#blog .blog-details a:hover::after{
    background-color: crimson;
}

#blog .blog-box h1{
    position: absolute;
    top: -45px;
    left: 0px;
    font-size: 70px;
    font-weight: 700;
    color: #ffa3a3;
}

#blog .blog-details h4{
    font-size: 30px;
    font-weight: 700;
    color: #fa7777;
}

#blog .blog-img2{
    width: 50%;
    margin-right: 40px;
}

#blog .blog-img2 img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}

/* ABOUT PAGE */

#about-header {
    background-image: url("images/about/b1.jpg");
    background-color: #E3E6F3;
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 080px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about-header h4 {
    padding-bottom: 15px;
}

#about-header h1 {
    color: #088178;
}

#about-header h6 {
    font-size: 16px;
    padding-top: 15px;
    margin-top: 20px;
    color: #6d7b7a;
}

#about-header button {
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    margin-top: 20px;
}

#about-header button i{
    font-size: 16px;
    font-weight: 600;
}

#about-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    padding-left: 80px;
    background-image: url("images/about/b2.jpg");
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
}    

#about-banner h4 {
    color: #ffa3a3;
    font-size: 20px;
    width:50%;
}
    
#about-banner h3 {
    color: crimson;
    font-size: 20px;
    width:50%;
    padding-top: 40px;
}

#about-banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#about-banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("images/about/b3.jpg");
    width: 380px;
    height: 40vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#about-banner3 .banner-box2{
    background-image: url("images/about/b4.jpg");

}

#about-banner3 .banner-box3{
    background-image: url("images/about/b5.jpg");

}

#about-banner3 h4 {
    color: #095d58;
    background-color: #cce7d0;
    opacity: 80%;
    border-radius: 4px;
    padding: 5px 3px;
    font-size: 16px;
}

#about-banner2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("images/about/b6.jpg");
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
}    

#about-banner2 h4 {
    color: #ffa3a3;
    font-size: 20px;
    width:50%;
}
    
#about-banner2 h3 {
    color: rgb(225, 63, 95);
    font-size: 20px;
    width:50%;
    padding-top: 40px;
}

#about-banner2 h2{
    color: rgb(225, 63, 95);
    font-size: 30px;
    padding-bottom: 20px;
}

#about-sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#about-sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("images/about/b7.jpg");
    width: 580px;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#about-sm-banner .banner-box2{
    background-image: url("images/about/b8.jpg");
}

#about-sm-banner h4 {
    color: #d6e4d8;
    font-size: 20px;
    padding-bottom: 18px;
}

#about-sm-banner .banner-box:hover button{
    background:#d6e4d8;
    color: #088178;  
}

/* CONTACT PAGE */

#contact-header{
    background-image: url("images/banner/b9.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#contact-header h2, #faqs-header h2{
    color: rgb(255, 29, 74);
}

#contact-header p, #faqs-header p{
    color: rgb(255, 97, 128);
    font-weight: 700;
}

#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details{
    width: 40%;
}

#contact-details .details span, #form-details form span{
    font-size: 14px;
}

#contact-details .details h2, #form-details form h2{
    color: #ff6e6e;
    font-size: 30px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i{
    font-size: 20px;
    padding-right: 22px;
}

#contact-details .details li p{
    margin: 0;
    font-size: 20px;
}

#contact-details .details a{
    font-size: 20px;
    color: #7d7a7a;
    padding-right: 10px;
}

#contact-details .details a:hover{
    color: #ffa3a3;
}

#contact-details .map{
    width:55%;
    height: 400px;
}

#contact-details .map iframe{
    width:100%;
    height: 100%;
}

#faqs-header{
    background-image: url("images/banner/b10.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#faqs {
    text-align: center;
}

#faqs .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#faqs .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #b9d2bc;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#faqs .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(216, 86, 112);
}

#faqs .pro .des {
    text-align: center;
    padding: 20px 0;
}
    
#faqs .pro .des span {
    color: #222;
    font-size: 14px;
}
    
#faqs .pro .des h5 {
    padding-bottom: 10px;
    color:#ff6e6e;
    font-size: 14px;
}

#form-details form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffeaee;
    padding: 20px 0;

}

#form-details form input, #form-details form textarea{
    width: 70%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e16f6f;
    border-radius: 4px;
}

#form-details button:hover{
    background:#ff7474;
    color: #ffffff;
}

/* Cart Page */

#cart-header{
    background-image: url("images/banner/b11.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#cart-header h2{
    color: #088178;
    margin-top: 30px;
    font-size: 40px;
}

#cart-header p{
    color: #000000;
    font-size: 26px;
}

#cart table{
    width:100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img{
    width:80px;
}

#cart table td:nth-child(1) {
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3) {
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4), #cart table td:nth-child(5), #cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input{
    width:70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 17px;
    padding: 18px 0;
}

#cart table tbody tr td{
    padding-top: 17px;
}

#cart table tbody td{
    font-size: 17px;
}

#cart table tbody a{
    color: #088178;
}

#cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#coupon{
    width:50%;
    margin-bottom: 30px;
}

#coupon h3, #subtotal h3{
    padding-bottom: 15px;
}

#coupon input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}

#coupon button{
    background-color: #088178;
    color: #fff;
    padding: 12px 20px;
}

#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}

#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}

#subtotal button:hover, #coupon button:hover{
    background-color: #77d2cc;
    color: #000;
}